01.Docker/demo-docker-build_tf/Bhavin_ec2-key.pem
01.Docker/demo-docker-build_tf/.terraform*
01.Docker/demo-docker-build_tf/terraform.tfstate*
02.Terraform/s3destroy
02.Terraform/terraform.tfstate*
02.Terraform/.terraform*
02.Terraform/State_Management/.terraform*
02.Terraform/State_Management/terraform.tfstate*
02.Terraform/State_Management/s3_backend/.terraform*
02.Terraform/State_Management/s3_backend/terraform.tfstate*
03.AWS_EKS/EKS_TF/.terraform*
03.AWS_EKS/EKS_TF/terraform.tfstate*
03.AWS_EKS/EKS_TF/Secret_Store_CSI_Driver/catalog-db-secret-policy.json  
03.AWS_EKS/EKS_TF/Secret_Store_CSI_Driver/trust-policy.json
03.AWS_EKS/EKS_TF/EBS_PV_PVC/*.json
04.TF_EKS_AddOns/*.tfstate*
04.TF_EKS_AddOns/.terraform*
05.RetailStore_Microservices_with_AWS_Data_Plane/.terraform*
05.RetailStore_Microservices_with_AWS_Data_Plane/*.tfstate*
06.Karpenter_Controller/.terraform*
06.Karpenter_Controller/*.tfstate*
07.HPA/1.Metrics_Server_AddOns/.terraform*
07.HPA/1.Metrics_Server_AddOns/*.tfstate*